<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ljs.dao.MenuMapper">

    <!-- 查询权限列表 -->
    <select id="findMenu" resultType="menuInfo">
      select bm.* from base_menu bm
          left join base_role_menu brm on bm.id=brm.menuId
          left join base_role br on br.id=brm.roleId
        where bm.leval=#{leval} and bm.parentId=#{pid} and br.id=#{roleId}
    </select>

    <!-- 根据角色id查询 -->
    <select id="findMenuByRoleId" resultType="long">
      select bm.id from base_menu bm
        left join base_role_menu brm on bm.id=brm.menuId
        where brm.roleId=#{roleId} and bm.leval=4
    </select>

    <!-- 添加菜单 -->
    <insert id="addMenu">
      insert into base_menu(menuName,url,leval,parentId,createTime) values (#{menuName},#{url},#{leval},#{parentId},now())
    </insert>

    <!-- 修改菜单 -->
    <update id="updateMenu">
        update base_menu
        set menuName=#{menuName},url=#{url}
        where id=#{id}
    </update>

    <!-- 删除菜单 -->
    <delete id="deleteMenu">
        delete from base_menu where id=#{id}
    </delete>

    <!-- 根据菜单ID删除菜单与角色中间表 -->
    <delete id="deleteMenuRoleByMenuId">
        delete from base_role_menu where menuId=#{menuId}
    </delete>

</mapper>